    *{
        margin: 0px ;
        padding: 0px;
        line-height: 26px;  
        max-width: 100%; 
    }
.main{
    width: 100%;
    height: 690px;
}
  .Introduction{
      text-align: center;
    width: 100%;
    height: auto!important;
  }
  .Introduction hr{
        width: 450px;
        height: 5px;
        border-radius: 10px;
        margin-left: 450px;
        margin-top: -14px;
  }
.intro{
    text-align: center;
    font-size: x-large; 
    margin-top: 80px;
}
.duction img{
    width: 450px;
    height: 450px;
}

.footer{

    height: 360px;
    width: 100%;
 }
 
.carousel-inner img{
    width: 100%;
    height: 700px;
    padding-bottom: 50px;
}
.hr-style1{
    width: 89%;
    height: 5px;
    border-radius: 10px;
}
.Mobile{
    margin-left: 118px;
}
.Mobile p{
    background-color: #dcdedc;
    width: 89%;
}

.products{
    margin-left: 120px;
    margin-top: -40px;
    height: auto;
    clear: both;
}

.item{
    box-shadow: 1px 1px 3px 3px grey;
    text-align: center;
    margin-bottom: 15px;
    
}

.item p{
    font-weight: bold;
}
.products img{
    margin-left: 110px;
    width: 135px;
    height: 170px ;
    display: block;
}
.shop-main div{
    padding: 60px 15px;
   
}
.shop-main{

    width: 100%;
    height: 100%;
}
.Information, .UsefulLinks, .SocialMedia, .UsefulLinks a{
    text-align: left;
    color: white;
    font-size: large;
}
.UsefulLinks hr{
    background-color: white;
}
.Information p{
    font-size: large;
    padding-left: 20px;
}
.SocialMedia img{
    width: 40px;
    height: 40px;
    margin: 47px 7px 0px 10px;
}
.SocialMedia{
    display: flex;
    padding: 0px 10px 0px 30px;
}
.Rights{
    margin-left: 580px;
    color:red;
}
.dropdown-item{
    font-size: small;
    padding-left: 5px !important;
}

    @media screen and (max-width: 780px){
        .Introduction hr{
           display: none;
        }
        .footer{
            height: auto;
        }
        .Rights{
            margin-left: none !important;
        }
        .products{
            margin: 10px !important  5px !important;
        }
       .products img{
           margin-left: 0px !important;
       }


        
    }

