    *{
        margin: 0px ;
        padding: 0px;
        line-height: 26px;   
    }
.main{
    width: 100%;
    height: 690px;
}
  .Introduction{
      text-align: center;
    width: 100%;
    height: 690px;
  }
  .Introduction hr{
        width: 450px;
        height: 5px;
        border-radius: 10px;
        margin-left: 450px;
        margin-top: -14px;
  }
.intro{
    text-align: left;
    font-size: x-large;
    margin-left: 50px;
    margin-top: 80px;
}
.duction img{
    width: 450px;
    height: 450px;
}
  .footer{

    height: 360px;
    width: 1364px;
  }
 .navbar{
     height: 70px;
 }
.carousel-inner img{
    width: 100%;
    height: 700px;
    padding-bottom: 50px;
}
.hr-style1{
    width: 89%;
    height: 5px;
    border-radius: 10px;
}
.Mobile{
    margin-left: 118px;
}
.Mobile p{
    background-color: #dcdedc;
    width: 89%;
}

.products{
    margin-left: 120px;
    margin-top: -40px;
    height: auto;
    clear: both;
}

.item{
    box-shadow: 1px 1px 3px 3px grey;
    text-align: center;
    margin-bottom: 15px;
}
.item p{
    font-weight: bold;
}
.products img{
    margin-left: 80px;
    width: 135px;
    height: 170px ;
    display: block;
}
.shop-main div{
    padding: 60px 15px;
   
}
.shop-main{

    width: 100%;
    height: 100%;
}
.Information, .UsefulLinks, .SocialMedia, .UsefulLinks a{
    text-align: left;
    color: white;
    font-size: large;
}
.UsefulLinks hr{
    background-color: white;
}
.Information p{
    font-size: large;
    padding-left: 20px;
}
.SocialMedia img{
    width: 40px;
    height: 40px;
    margin: 47px 7px 0px 10px;
}
.SocialMedia{
    display: flex;
    padding: 0px 10px 0px 30px;
}
.Rights{
    margin-left: 580px;
    color:red;
}

    /* @media screen and (max-width: 480px){
        .introduction p{
            padding-left: 30px !important;
        }
        .counter{
            display: flex;
            flex-direction: column;
        }
        .container-2{
            width: 95%;
            padding-top: 0px;

        }
        .container-1{
            width: 95%;
            padding-bottom: 0px;

        }
        .IT{
            padding: 40px 10px !important ;
            margin: 20px 0px 0px !important;
        }
        .THARPARKAR{
            margin: 20px 0px 0px !important;
            padding: 40px 10px !important;
        }
        .header-strip{
            display: flex;
            flex-wrap: wrap;
        }
            
    } */
